td{
    border:0.3px solid black;
}

th{
    border:0.3px solid black;
}

#table{
    padding-top: 20px;
    width: calc(60%-40px);
    float:left;
    padding-left: 20px;
}
#butoane{
    margin-top: -20px;
}
#search{
    margin-top: -20px;
    width: 50%;
    float: right;
    
}

#cauta{
    margin: 30px;
    border:1px solid blue;
    border-radius: 8px;
    width:290px;
}

.continutFeedback{
    width: 100%;
    height: 650px;
    background-color: #C1C7E6;
}